.home {
  &__page {
    background: url(/pawel-czerwinski-OG44d93iNJk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
