.tos {
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__divider {
      height: 2px;
      width: 100%;
      max-width: 20%;
      margin: 0 0.5rem;
      background-color: red;
   }
   &__header {
      font-size: 1.4rem;
      padding-bottom: 0.3rem;
   }
}
