.terms {
   &__page {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 241, 243);
   }

   &__container {
      width: 90vw;
      padding: 1rem;
      background: white;
      border-radius: 8px;
   }

   &__header {
      font-size: 1.4rem;
      text-align: center;
   }

   &__dialogue {
      text-align: left;
      font-size: 0.95rem;
      margin: 1rem 0;
   }

   &__list {
      &__item {
         //  list-style: none;
         font-size: 0.95rem;
      }
   }

   &__button_container {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
   }
}
